<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Indie+Flower&family=Permanent+Marker&display=swap"
    rel="stylesheet">
  <title>GROUP 4 - MOVIES Reviewer</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">GROUP 4 - MOVIES Reviewer</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <div>
        <h4>This page is brought to you by Hiu Sum Jaime Yue, Spencer Cole & Ryan McCarthy</h4>
      </div>
      <div>
        <h4><a href="https://hiusumjaimeyue.github.io/Professional-portfolio/" target="_blank"
            rel="noopener noreferrer">Jaime's Portfolio</a></h4>
      </div>
      <div>
        <h4><a href="https://enceps.github.io/portfolio/" target="_blank" rel="noopener noreferrer">Spencer's
            Portfolio</a></h4>
      </div>
      <div>
        <h4><a href="https://ryanofeastview.github.io/personal-bio/" target="_blank" rel="noopener noreferrer">Ryan's
            Portfolio</a></h4>
      </div>
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>


</html>