:root {
  --primary: #ffa630;
  --secondary: #ffffff;
  --tertiary: #4da1a9;
  --light-dark: #2e5077;
  --dark: #611c35;
  --antiquewhite: #faebd7;
  --border-radius: .3rem;
}

* {
  color: var(--dark);
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: var(--dark);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: .5%;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary);
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--tertiary);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form>div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  color: var(--primary);
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 4%;
  border-radius: var(--border-radius);
}

header h1 {
  font-size: 30px;
  font-family: "Bangers";
}

header h1 a {
  -webkit-text-stroke: 0.1px white;
  color: var(--dark);
}

main {
  flex: 1;
  padding: 2% 4%;
}

header a,
button,
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
  border-radius: var(--border-radius);
}

header a:hover,
button:hover,
.btn-no-style:hover {
  background: none;
  color: var(--primary);
  background-color: var(--dark);
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  border-radius: var(--border-radius);
  border-style: dashed;
}

.comment:nth-child(odd) {
  background-color: var(--antiquewhite);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  /* border-top: 1px solid var(--secondary); */
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  border-radius: var(--border-radius);
}

footer h4 {
  color: var(--secondary);
}